<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/games.js"></script>

</head>
<body>
    <div class="gry">
        <a href="/logout">Dostępne gry</a>
    </div>
    
    <div class="fixer">
        <button id="kolko"  alt="kolko i krzyzyk">
            <img src="/img/kolko.jpg"/> 
        </button>
        
        <button id="pacman"  alt="Pacman">
            <img src="/img/pacman.jpeg"/> 
        </button>
    </div>
    
    <div class="register">
        <a href="/logout">Wyloguj</a>
    </div>

</body>
</html>