<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona startowa</title>
    <link href="/CSS/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/login.js"></script>
</head>
<body>
    <section>
        <div class="logo">
            <img src="/img/logo_pad.jpg" alt="logo"/>
        </div>
        <div class="head">
            <h1> Zaloguj się</h1>
        </div>    
        <div>
            <label>
                Email: <input id='email' type='text' placeholder="email"/>
            </label>
            <label>
                Hasło: <input id='password' type='password' placeholder="hasło"/>
            </label>            
            <button id='send'> Zaloguj </button>
        </div>
        <div class="register"> 
            <a href="/register">Zajerestruj</a>
        </div>

        </section>
</body>
</html>