<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/styles.css" rel="stylesheet">
    
    <script src="/js/logout.js"></script>
</head>
<body>
    <div class="logo2">
        <img src="/img/logo_pad.jpg" alt="logo"/>
    </div>

    <h2 class="text_center margin">  Wylogowano </h2>

    <div class="register">
        <a href="/">Zaloguj</a>
        <a href="/register">Zajerestruj</a>
    </div>

</body>
</html>